<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <%= stylesheet_link_tag "about-style.css" %>
    <title>Being Digital Academy</title>
</head>
<body class="bg-light">
    <div class="grid-2">
        <div class="section-1">
            <i class="fas fa-code fa-5x white">LOGO</i>
            <h2>Being Digital Academy</h2>
            
            <a target="_blank" href="https://www.facebook.com/ba.beingambitious"><i class="fab fa-facebook"></i></a>
            <a target="_blank" href="https://www.linkedin.com/company/beingambitious/"><i class="fab fa-linkedin"></i></a>
            <a target="_blank" href="https://twitter.com/beingambitious8"><i class="fab fa-twitter"></i></a>
            <a target="_blank" href="https://www.instagram.com/ba.beingambitious/"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="section-2">
            <h2>About</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quas sint et nihil iusto eius nostrum sit error, repellat optio quisquam! Magnam dolore iusto cumque. Nostrum error iste neque maiores.</p>
            <h2>Mission</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis in maiores autem quidem.</p>

            <h2>Vision</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis in maiores autem quidem obcaecati excepturi! Cupiditate eaque itaque magni voluptatibus neque nobis est dolor? Atque sunt minus ipsa asperiores. At.</p>
            

            <h2>Team</h2>
            <div class="card-group">
              <div class="card">
                <%= image_tag("bd.jpg", :alt => "bd") %>
                <div class="card-body">
                  <h5 class="card-title">Member</h5>
                  <p class="card-text">Do veniam aute nostrud do non minim est voluptate proident cupidatat qui ut et id ut.</p>

                </div>
              </div>
              <div class="card">
                <%= image_tag("bd.jpg", :alt => "bd") %>
                <div class="card-body">
                  <h5 class="card-title">Member</h5>
                  <p class="card-text">Do veniam aute nostrud do non minim est voluptate proident cupidatat qui ut et id ut.</p>

                </div>
              </div>
              <div class="card">
                <%= image_tag("bd.jpg", :alt => "bd") %>
                <div class="card-body">
                  <h5 class="card-title">Member</h5>
                  <p class="card-text">Do veniam aute nostrud do non minim est voluptate proident cupidatat qui ut et id ut.</p>

                </div>
              </div>
            </div>

        </div>
    </div>
</body>
</html>
